extends ../base

block content 
  if errorMessage
    span=errorMessage
  form(action="" method="post") 
    input(placeholder="Old Password" type="password" name="oldPass")
    input(placeholder="New Password" type="password" name="newPass")
    input(placeholder="New Password Confirmation" type="password" name="confirPass")
    input(value="Change Password" type="submit")